@import 'settings';
@import 'foundation-emails';

@import 'template/template';

table.row {
  background-color: #9ba4ab !important;
}

table.footer {
  background-color: #f4f8fb !important;

  p {
    color: #231f20;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 9px;
    font-weight: 500;
    margin: 0 8.6%;
  }

  a {
    color: #231f20;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-decoration: underline;
  }
}
